* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-transition: ease all 0.15s;
  -moz-transition: ease all 0.15s;
  -ms-transition: ease all 0.15s;
  -o-transition: ease all 0.15s;
  transition: ease all 0.15s;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

svg{
  width: inherit;
}

// ---------- SCROLLING STYLES ---------- //
.container{
  position: relative;
}
.panels {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  z-index: 3;
  position: relative;
  background-color: rgba(2, 142, 189, 0.3);
  .panel {
    width: 16.666667%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    .content{
      position: relative;
      z-index: 20;
      height: 100%;
      padding-top: 10vh;

      h2{
        font-size: 64px;
        line-height: 70px;
        font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
        margin-bottom: 80px;
        color: #fff;
        &:last-of-type{
          margin-bottom: 0;
        }
      }

      &.center{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
      }

      div.sub-pages{
        display: flex;
        width: 60vw;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -10%;

        a.sub-page-link{
          width: 450px;
          height: 450px;
          background-color: #fff;
          text-decoration: none;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          //opacity: 0;
          //-webkit-transition: ease all 0.15ms;
          //-moz-transition: ease all 0.15ms;
          //-ms-transition: ease all 0.15ms;
          //-o-transition: ease all 0.15ms;
          //transition: ease all 0.15ms;
          //-webkit-transform: translateY(-50%);
          //-moz-transform: translateY(-50%);
          //-ms-transform: translateY(-50%);
          //-o-transform: translateY(-50%);
          //transform: translateY(-50%);
          //
          //&.transition{
          //  opacity: 1;
          //}

          span.number{
            font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
            color: #fff;
            font-size: 80px;
            line-height: 93px;
            margin-bottom: 30px;
            width: 93px;
            height: 93px;
            border-radius: 100%;
            margin-top: 40px;
          }

          h2{
            font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
            font-size: 72px;
            margin-bottom: 60px;
          }

          span.heart-ico{
            width: 128px;
            height: 128px;
            background-image: url('../images/heart.png');
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: -60px;
            border-radius: 100%;
            box-shadow: -7px 14px 15px 0px rgba(0, 0, 0, 0.5);
            position: relative;
            z-index: 2;
          }

          &:after{
            content: '';
            position: absolute;
            height: 250px;
            width: 64px;
            bottom: 214px;
            background-color: rgba(255,255,255,0.3);
            background-image: url('../images/vertical-lines.png');
            background-repeat: repeat-y;
            background-position: bottom center;
            z-index: 1;
          }
        }
      }
    }

    .circle-photo{
      display: flex;
      width: 424px;
      height: 424px;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 20px;
      position: absolute;
      top: 40%;
      right: -212px;
      margin-top: -212px;
      z-index: 20;


      opacity: 0;
      -webkit-transition: ease all 0.15ms;
      -moz-transition: ease all 0.15ms;
      -ms-transition: ease all 0.15ms;
      -o-transition: ease all 0.15ms;
      transition: ease all 0.15ms;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .road{
      position: absolute;
      bottom: 150px;
      width: 100%;
      left: 0;
      z-index: 20;

      .heart{
        width: 128px;
        height: 128px;
        display: block;
        background: url('../images/heart-red.png') no-repeat center;
        position: absolute;
        left: -64px;
        margin-top: -35px;
      }

      .lines{
        height: 64px;
        width: 100%;
        background-image: url('../images/road-lines.png');
        background-position: left center;
        background-repeat: repeat-x;
        background-size: auto 16px;
        background-color: rgba(255,255,255, 0.3);
      }

      &.half{
        width: 50%;

        &.left{
          left: 50%;
        }
        &.end {
          left: 0;
          width: 71%;
        }
      }
    }
  
    &#section-one{
      overflow: hidden;
      background-color: #fff;
    }

    &#section-four{
      .content{
        div.sub-pages{
          a.sub-page-link{
            h2{
              color: #ff527f;
            }
            span.number,
            span.heart-ico{
              background-color: #ff527f;
            }
          }
        }
      }
    }

    &#section-five{
      .content{
        div.sub-pages{
          a.sub-page-link{
            h2{
              color: #00a0d6;
            }
            span.number,
            span.heart-ico{
              background-color: #00a0d6;
            }
          }
        }
      }
    }

    &#section-six{
      .content{
        div.sub-pages{
          a.sub-page-link{
            h2{
              color: #46a916;
            }
            span.number,
            span.heart-ico{
              background-color: #46a916;
            }
          }
        }
      }
    }
  }
}

.bike-rolling{
  width: 219px;
  height: 236px;
  display: inline-block;
  position: absolute;
  background-image: url('../images/bike-rolling.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  bottom: 157px;
  left: 70%;
  z-index: 20;
}

div.svg-container{
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 400vw;
  height: 100vh;
  //background-color: #00a0d6;
  > div:not(.sun){
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    > img,
    > svg{
      width: 400vw;
      height: auto;
    }
  }
  .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.1;
  }

  .dbg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.3;
  }

  .mbg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0.6;
  }

  .fbg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    opacity: 1;
  }


  #secondary-bg{
    transform: translate3d(100px, 0px, 0px);
  }
}

#section-one {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;

  img.behind-image{
    position: relative;
    z-index: 0;
    width: 90vw;
    height: auto;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  span.first-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/mask-one.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 5;
    animation-name: shrinkIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  span.second-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/second-mask.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 6;
    opacity: 0;
  }

  .behind-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: ease all 0.25s;

    img{
      max-height: 75vh;
      width: auto;
    }
  }

  &.loaded{
    .behind-mask{
      background-color: #e42513;
    }
  }
}

#section-two{
  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before{
    content: '';
    width: 212px;
    height: 212px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -106px;
    margin-top: -106px;
    background: url('../images/pause-video.png') no-repeat center;
    -webkit-background-size: contain  ;
    background-size: contain;
  }
}

@keyframes shrinkIn {
  from {
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
  }
  50% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  to {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
   from {
     opacity: 0;
   }
   50% {
     opacity: 0.5;
   }
   to {
     opacity: 1;
   }
 }

.section-anchors {
  position: fixed;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 99;

  li {
    width: 140px;
    height: 4px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-flex;

    a, button {
      display: inline-flex;
      width: 100%;
      height: 4px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    &.visitied {
      background-color: #000;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

div#footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  width: 100%;
  justify-content: center;
  padding: 10px;


  span#footer-logo {
    width: 40px;
    height: 40px;
    float: left;
    background-image: url("../images/footer-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
  }
}
