* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

svg {
  width: inherit;
}

// ---------- SCROLLING STYLES ---------- //
.container {
  position: relative;
}

.panels {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  z-index: 3;
  position: relative;
  overflow-y: hidden;

  .panel {
    width: 16.666667%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 50%;
    //   position: absolute;
    //   z-index: 19;
    //   left: 0;
    //   top: 0;
    //   background-image: url("../images/top-gradient-bg.png");
    //   background-repeat: no-repeat;
    //   background-position: top center;
    //   background-size: cover;
    // }

    // &::after {
    //   content: "";
    //   width: 100%;
    //   height: 50%;
    //   position: absolute;
    //   z-index: 19;
    //   left: 0;
    //   bottom: 0;
    //   background-image: url("../images/bottom-gradient-bg.png");
    //   background-repeat: no-repeat;
    //   background-position: bottom center;
    //   background-size: cover;
    // }

    .content {
      position: relative;
      z-index: 20;
      height: 100%;
      padding-top: 15vh;

      h2 {
        font-size: 6.25vh;
        line-height: 7.5vh;
        font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
        margin-bottom: 80px;
        color: #fff;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &.center {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 0;
      }
    }

    .circle-photo {
      display: flex;
      width: 40vh;
      height: 40vh;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 20px;
      position: absolute;
      bottom: 25vh;
      margin-top: 0;
      z-index: 20;

      img {
        width: 100%;
        height: auto;
      }

      &.one {
        left: 50vw;
        margin-left: -20vh;
      }

      &.two {
        left: 150vw;
        margin-left: -20vh;
      }

      &.three {
        left: 250vw;
        margin-left: -20vh;
      }
    }

    .road {
      position: absolute;
      bottom: 13vh;
      height: 2.5vw;
      width: 100%;
      left: 0;
      z-index: 20;

      .heart {
        width: 5vw;
        height: 5vw;
        display: block;
        background: url('../images/heart-red.png') no-repeat center;
        background-size: contain;
        position: absolute;
        left: -2.5vw;
        top: 0;
        transform: translateY(-1.25vw);
      }

      .lines {
        height: 2.5vw;
        width: 100%;
        background-image: url('../images/road-lines.png');
        background-position: left center;
        background-repeat: repeat-x;
        background-size: auto 16px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      &.half {
        width: 50%;

        &.left {
          left: 50%;
        }

        &.end {
          left: 0;
          width: 71%;
        }
      }
    }

    &#section-one {
      overflow: hidden;
      background-color: #fff;

      &::after,
      &::before {
        content: none;
      }
    }

    &#section-two {

      &::after,
      &::before {
        content: none;
      }
    }
  }

  div.sub-pages {

    a.sub-page-link {
      width: 43vh;
      height: 43vh;
      background-color: #fff;
      text-decoration: none;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 20vh;
      left: 50%;
      margin-left: -21.5vh;

      &.first-sub {
        h2 {
          color: #ff527f;
        }
  
        span.number {
          background-color: #ff527f;
        }
      }
  
      &.second-sub {
        h2 {
          color: #00a0d6;
        }
  
        span.number {
          background-color: #00a0d6;
        }
      }
  
      &.third-sub {
        h2 {
          color: #46a916;
        }
  
        span.number{
          background-color: #46a916;
        }
      }

      span.number {
        font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
        color: #fff;
        font-size: 6vh;
        line-height: 8.5vh;
        width: 8.5vh;
        height: 8.5vh;
        border-radius: 100%;
        margin-top: 20px;
        margin-bottom: 0;
      }

      h2 {
        font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
        font-size: 6vh;
        line-height: 6.5vh;
        margin-bottom: auto;
        margin-top: 16%;
      }
    }

    span.heart-icon {
      width: 5vw;
      height: 5vw;
      background-image: url('../images/heart.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75% auto;
      border-radius: 100%;
      box-shadow: -7px 14px 15px 0px rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 2;
      bottom: 16vh;
      margin-left: -2.5vw;
      &.first-sub {
          background-color: #ff527f;
      }
  
      &.second-sub {
          background-color: #00a0d6;
      }
  
      &.third-sub {
          background-color: #46a916;
      }
    }
  }
}

.vertical-road {
  position: absolute;
  height: 18vh;
  width: 3.4vw;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url('../images/vertical-lines.png');
  background-repeat: repeat-y;
  background-position: bottom center;
  z-index: 1;
  bottom: 3.4vw;


  &.fl {
    left: 80.4vw;
    margin-left: -1.7vw;
  }

  &.fr {
    left: 119.5vw;
    margin-left: -1.7vw;
  }

  &.sl {
    left: 180.5vw;
    margin-left: -1.7vw;
  }

  &.sr {
    left: 219.5vw;
    margin-left: -1.7vw;
  }

  &.tl {
    right: 40.7vw;
    margin-right: -1.7vw;
  }

  &.tr {
    right: 0;
    margin-right: 0;
  }

}

.bike-rolling {
  width: 23vh;
  height: 25vh;
  display: inline-block;
  position: absolute;
  z-index: 20;
  bottom: 13vh;
  left: 68vw;
  background-image: url('../images/bike-rolling.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

div.bgs,
div.svg-container {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 400vw;
  height: 100vh;
  overflow: hidden;

  >div:not(.sun) {
    width: 450vw;
    height: 100%;
    display: flex;
    align-items: flex-end;

    >svg {
      width: 450vw;
      height: auto;
    }
  }

  >div.bodyBg {
    align-items: flex-start;

    svg {
      height: 100vh;
    }
  }

  &:before {
    content: '';
    width: 400vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    background: url('../images/bottom-white-mask.png');
    background-size: 100vw auto;
    background-repeat: repeat-x;
  }

  #lines {
    width: calc(322vw - 13px);
    left: 50vw;
    height: 3.4vw;
    background-image: url('../images/road-lines.png');
    background-position: left center;
    background-repeat: repeat-x;
    background-size: auto 16px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 10;
    bottom: 13vh;
  }

  div.sun {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;

    svg {
      width: 85%;
      margin-top: -10%;
    }
  }

  // .bodyBg{
  // }

  #bodyBg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
  }

  #firstBg {
    position: absolute;
    left: 0;
    bottom: -10vh;
    z-index: 1;
  }

  #secondBg {
    position: absolute;
    left: 0;
    bottom: -10vh;
    z-index: 2;
  }

  #thirdBg {
    position: absolute;
    left: 0;
    bottom: -10vh;
    z-index: 3;
  }

  #fourthBg {
    position: absolute;
    left: 0;
    bottom: -10vh;
    z-index: 4;
  }


  #secondary-bg {
    transform: translate3d(100px, 0px, 0px);
  }
}

#section-one {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;

  span.first-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/sunbeams.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 2;
  }

  .behind-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition-delay: 1s;
    transition: ease all 0.5s;
    opacity: 0;

    img {
      max-height: 65vh;
      width: auto;
      max-width: 35vw;
      height: auto;
    }
  }

  &.loaded {
    .behind-mask {
      opacity: 1;
    }
  }
}

#section-two {
  overflow: hidden;

  iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: '';
    width: 212px;
    height: 212px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -106px;
    margin-top: -106px;
    background: url('../images/pause-video.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

#section-three {
  // z-index: 10;
}

@keyframes shrinkIn {
  from {
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
  }

  50% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  to {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.section-anchors {
  position: fixed;
  bottom: 4.5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 20;

  li {
    width: 140px;
    height: 4px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-flex;

    a,
    button {
      display: inline-flex;
      width: 100%;
      height: 4px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    &.visitied {
      background-color: #000;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

div#footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  width: 100%;
  justify-content: center;
  padding: 10px;


  span#footer-logo {
    width: 40px;
    height: 40px;
    float: left;
    background-image: url("../images/footer-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
  }
}