$root-font-size: 1rem;
$font-family: 'Roboto',
sans-serif;
$page-width: 100%;
$paragraph-font-size: 1.6rem;

@import url('http://db.onlinewebfonts.com/c/5c8036fec9d614a90b202dbe1c3b8395?family=Stick-A-RoundW00-Stick-A-Round');

@font-face {
  font-family: 'stickarounduploaded_file';
  src: url('../fonts/stick-a-round-webfont.woff2') format('woff2'),
    url('../fonts/stick-a-round-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin pinkBg {
  span.no {
    background-color: #ff527f;
    color: #fff;
  }

  ul{
    background-image: url('../images/omm-pink.png');
    opacity: 1;
  }
}

@mixin greenBg {
  ul {
    background-image: url('../images/omm-green.png');
    // > li {
    //   animation: 0.25s ease 0s normal forwards 1 fadein; 
    // }
  }

  span.no {
    background-color: #46a916;
    color: #fff;
  }
}

@mixin blueBg {
  ul{
    background-image: url('../images/omm-blue.png');
    // > li {
    //   animation: 0.25s ease 0s normal forwards 1 fadein;
    // }
  }

  span.no {
    background-color: #00a0d6;
    color: #fff;
  }
}

@mixin orangeBg {
  ul{
    background-image: url('../images/omm-orange.png');
    // > li {
    //   animation: 0.25s ease 0s normal forwards 1 fadein;
    // }
  }

  span.no {
    background-color: #F95E20;
    color: #fff;
  }
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}



