@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
}

@import "variables";
@import "home";
@import "reset";
@import "./hamburger/hamburgers";

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

header {
  position: fixed;
  width: 100vw;
  padding: 0 2rem;
  left: 0;
  top: 0;
  background-color: #e42513;
  z-index: 21;
  height: 49px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    #toggleMenu{
      background-color: #fff;
      border-radius: 100%;
    }

    a.logo {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -77px;
    }
  }

  .menu-wrapper {
    position: absolute;
    left: -32px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e42513;
    background-image: url('../images/overlay-mask-menu.png');
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;

    ul.menu-list {
      position: relative;
      z-index: 2;
      margin-left: 0;
      width: 100%;
      padding: 0 10%;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5vh;

        span.no {
          background-color: #fff;
          font-size: 40px;
          line-height: 54px;
          width: 54px;
          height: 54px;
          margin-right: 30px;
          border-radius: 100%;
          font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
          color: #e42513;
        }

        h3,
        > a {
          font-size: 40px;
          line-height: 46px;
          font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
          color: #fff;
        }

        .submenu-links {
          position: absolute;
          top: 0%;
          right: 0%;
          width: 50%;
          opacity: 0;
          visibility: hidden;
          transition: ease all 0.3s;
          li{
            margin-bottom: 30px;
            &:before{
              content: '';
              background: #fff;
              border-radius: 100%;
              margin-right: 20px;
              width: 40px;
              height: 40px;
            }
            a{
              text-decoration: none;
              font-size: 32px;
              line-height: 38px;
              font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
              color: #fff;
            }
          }
        }

        &:hover {
          cursor: pointer;
          .submenu-links {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &:before {
      content: '';
      height: 90%;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: url('../images/menu-gradient.png');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }
}