@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
}

@import "variables";
@import "home";
@import "reset";
@import "./hamburger/hamburgers";

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}


p {
  font-size: $paragraph-font-size;
}

header {
  position: fixed;
  width: 100vw;
  padding: 0 1.5vw;
  left: 0;
  top: 0;
  background-color: #e42513;
  z-index: 21;
  height: 56px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #toggleMenu {
      background-image: url('../images/menu-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      border: 0;
      transition: ease all 0.3s;

      &:focus {
        border: 0;
        outline: 0;
      }

      &.is-active{
        background-image: url('../images/close-icon.png');
        width: 36px;
        height: 36px;
        margin-top: 10px;
      }
    }

    a.logo {
      margin-top: 0;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999;
      top: 0;

      img{
        height: 85px;
        width: auto;
      }
    }

    .download-icon{
      position: relative;
      z-index: 99;
      img{
        height: 30px;
        width: 30px;
      }
    }
  }

  .menu-wrapper {
    position: absolute;
    left: -1.5vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e42513;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: ease opacity 0.2s;
    z-index: 9;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    ul.menu-list {
      position: relative;
      z-index: 2;
      margin-left: 0;
      width: 30vw;
      height: 100vh;
      margin-left: 20vw;
      margin-top: 10vh;     

      &:hover > * {
        opacity: 0.4;
      }

      &:hover + ::after{
        opacity: 0;
      }

      > *:hover {
        opacity: 1;
      }
      > li > a{
        display: flex;
        flex-direction: row;
        padding: 2.5vh 0;
        text-decoration: none;
        align-items: center;
      }

      li {
        display: flex;
        flex-direction: row;
        width: 100%;
        transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
        span.no {
          background-color: #fff;
          width: 54px;
          height: 54px;
          margin-right: 30px;
          border-radius: 100%;
          transition: ease all 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          &:before{
            font-size: 40px;
            line-height: 54px;
            font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
            color: #e42513;
          }
        }

        &:nth-child(1){
          span.no{
            &:before{
              content: '1'
            }
          }
        }

        &:nth-child(2){
          span.no{
            &:before{
              content: '2'
            }
          }
        }

        &:nth-child(3){
          span.no{
            &:before{
              content: '3'
            }
          }
        }

        &:nth-child(4){
          span.no{
            &:before{
              content: '4'
            }
          }
        }

        &:nth-child(5){
          span.no{
            &:before{
              content: '5'
            }
          }
        }

        &:nth-child(6){
          span.no{
            &:before{
              content: '6'
            }
          }
        }        

        h3,
        >a {
          font-size: 40px;
          line-height: 46px;
          font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
          color: #fff;
        }

        ul {
          position: absolute;
          top: calc(-10vh - 56px);
          right: -49.9vw;
          width: 50vw;
          height: 105vh;
          padding-left: 7vw;
          padding-top: 17.5vh;
          display: none;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
          transition: ease background-image 0.3s;

          &:hover{
            li{
              opacity: 0.3;
            }
          }

          > li {
            padding: 0;
            transition: ease all 0.3s;
            align-items: flex-start;

            &:hover{
              opacity: 1;
            }

            a > span.no{
              display: none;
            }

            &:before {
              content: '';
              background: #fff;
              border-radius: 100%;
              margin-right: 20px;
              width: 40px;
              height: 40px;
            }

            a {
              text-decoration: none;
              font-size: 32px;
              line-height: 40px;
              font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
              color: #fff;
              padding-bottom: 30px;
              
              transition: ease all 0.3s;
            }
          }
        }
      }
      > li{
        &:hover {

          &:nth-child(1){
            @include pinkBg;
          }
          &:nth-child(2),
          &:nth-child(5) {
            @include blueBg;
          }

          &:nth-child(3),
          &:nth-child(6) {  
            @include orangeBg;
          }

          &:nth-child(4){
            @include greenBg;
          }


          cursor: pointer;

          > ul {
            opacity: 1;
            display: block;
          }
        }
      }
    }

    &:before {
      content: '';
      height: 90%;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: url('../images/menu-gradient.png');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }

    &:after{
      content: '';
      position: absolute;
      top: -60px;
      right: 0;
      width: 50.1vw;
      height: calc(100vh + 56px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      background-image: url('../images/omm-pink.png');
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  header{
    display: none;
  }
  .mobile{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    
    background-color: #c82111;

    .header-copy{
      height: 56px;
      width: 100%;
      background-color: #e42513;
      img{
        height: 85px;
        width: auto;
      }
    }
    
    h4{
      font-size: 3.5vh;
      line-height: 4.5vh;
      font-family: 'Stick-A-RoundW00-Stick-A-Round', sans-serif;
      color: #fff;
    }

    img{
      max-width: 95%;
      height: auto;
      margin-bottom: 0px;
    }
  }
}
